body {
  font-family: serif;
  font-size: 14pt;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px dotted #ccc;
  margin: 1em 0;
  padding: 0;
}

li {
  margin-left: 50px;
  margin-bottom: 15px;
}

.inside {
  margin-left: px;
  max-width: 200px;
}

.inline {
  display: inline;
}

.box,
.box-home,
.box-bag {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  text-align: center;
  vertical-align: top;
  padding: 10px;
  border: solid;
  border-color: black;
  border-width: 1pt;
  border-radius: 10px;
}

.box {
  width: fit-content;
  border-color: white;
}
.box-home {
  width: 400px;
  height: 400px;
}
.box-bag {
  width: 300px;
  height: 300px;
}
