:root {
  color-scheme: light dark; /* support both */
  --font-light: white; 
  --font-dark: black;

  --background-light: white;
  --background-dark: black; 
}

@media (prefers-color-scheme: dark) {
  body, main, a {
    color: white; 
    background: black;
  }
  a {text-decoration: none; color: white;}
  nav ul li {color: white;}
  a:hover {color: black; background-color:white;}
  a::selection {color:white;}

  footer { clear: both; margin: 0; border-top: 2px dotted white; color: white; }

  .notes {
    background: #bbbbbb;
    color: black;
    width: fit-content;
    border-radius: 8px;
    margin: 1.5vh 0.5vw;
    padding: 3px;
    box-shadow: 0 0 10px #bbb, 0 0 10px #bbb, 0 0 10px #bbb, 0 0 10px #bbb, 0 0 10px #bbb, 0 0 10px #bbb, 0 0 10px #bbb;
  }

  #top {color:white;}
  #top:hover {color: black; background-color:white;}

  .invert {
    filter: invert(1) hue-rotate(180deg);
  }
}


@media (prefers-color-scheme: light) {
  a { text-decoration: none; color: black;}
  a:hover { color: white; background-color: black;}
  a::selection { color:black;}

  header { float: left; margin: 20px 60px 20px 20px;}
  footer { clear: both; margin: 0; border-top: 2px dotted black; }

  .notes {
    background: #EEEEEE;
    color: black;
    width: fit-content;
    border-radius: 8px;
    margin: 1.5vh 0.5vw;
    padding: 3px;
    box-shadow: 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE;
  }
}

html, body, pre {
  font-family: serif; 
  /* letter-spacing: -0.35px;  */
  font-size:16px; 
  color: black;
  /* #3b3b3b */
  margin-left: 5px;
}
object {width: 100%;}
main {max-width: 750px;}
a img:hover { background-color: none;}


nav { padding: 20px; padding-left: 0px;}
nav ul li {list-style-type: none;}
li {margin-left: 15px;}

mark {background-color: white; color: black;}
mark:hover {text-decoration: underline;}
.pixel {font-family: domesticpixel; font-size: 30px;}
.jp {font-family: serifjp; font-size: 16px;}
.click {text-decoration: underline;}

.inline { display: inline-block; vertical-align:top;}
.inline_bottom { display: inline-block; vertical-align: middle;}
.link {margin:0px; padding:0px;}
.border-top {border-top: 1px dotted black;}

.works {width:40em;}
.year {font-weight:bold;}
.caption {
  font-family: monospace; 
  letter-spacing: -0.35px; 
  font-size: 1em; 
  color: grey;
}

.relative { display: relative;}
.absolute { display: absolute; z-index: 999;}

#top {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 900px; 
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);;
  color: black;
  cursor: pointer;
  font-size: 16px; 
  font-family: serif;
}
#top:hover {
  background-color: black;
  color: white; /* Add a dark-grey background on hover */
}


#header[data-page] ul[data-page] {
	display: none
}
#header[data-page="works"] ul[data-page="works"],
#header[data-page="insp"] ul[data-page="insp"],
#header[data-page="about"] a[data-page="about"] {
  display: inline-block;
}

#header[data-page="works"] a[data-page="works"]::after,
#header[data-page="about"] a[data-page="about"]::after,
#header[data-page="notes"] a[data-page="notes"]::after {
  content: "/";
}

details > summary {
  & > mark::after {
    content: '';
  }
}

details[open] > summary {
  & > mark::after {
    content: '';
  }
}

@font-face {
  font-family: "domesticpixel";
  src: url("/assets/fonts/2020\ 01\ 09\ domesticpixel.ttf") format("ttf"), url("/assets/fonts/font.domestic.pixel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}