html, body {
  font-family: monospace; 
  letter-spacing: -0.35px; 
  font-size:1em; 
  color: black;
}

object {
  width: 100%;
}

a {
  font-family: monospace; 
  letter-spacing: -0.35px; 
  text-decoration: none; 
  color: black;
}
a:hover {
  font-family: monospace; 
  letter-spacing: -0.35px;  
  color: white; 
  background-color: black;
}
a:selection {
  font-family: monospace; 
  letter-spacing: -0.35px;  
  color:black;
}
a img:hover {
  background-color: none;
}

b {
  font-family: monospace; 
  letter-spacing: -0.35px;
}

mark {
  background: black; 
  color:white;
}

.inline {
  display: inline-block; 
  vertical-align:top;
}
.header1em {
  overflow-x:hidden; 
  padding-right: 1em;
}
.header2em {
  overflow-x:hidden; 
  padding-right: 2em;
}
.header3em {
  overflow-x:hidden; 
  padding-right: 3em;
}
.caption {
  font-family: monospace; 
  letter-spacing: -0.35px; 
  font-size: 1em; 
  color: grey;
}

h2 {
  background-color: #efefef;
}

.color-option {
  width: 7.5em;
  height: 8em;
  padding-right: 0.5em;
  cursor: pointer;
  border: 0.1em solid black;
  border-radius: 0%;
}

#like1 { 
  background-image: url(https://i.discogs.com/P0zhYuFitb2udE3SgddcWeqW5YkI2ACYK1oBtX2VszY/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI1ODky/NTYwLTE2NzQ3NDgw/MTEtMzEwOC5qcGVn.jpeg);
  background-size: 8em; 
}
#like2 {
  background-image: url(https://i.discogs.com/P0zhYuFitb2udE3SgddcWeqW5YkI2ACYK1oBtX2VszY/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI1ODky/NTYwLTE2NzQ3NDgw/MTEtMzEwOC5qcGVn.jpeg);
  background-size: 8em;
}