name: Build a test page
on:
  pull_request:
    branches: [main]
  workflow_dispatch:
permissions:
  contents: read
  id-token: write
  pull-requests: write
  issues: write
jobs:
  # Single deploy job since we're just deploying
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: build-htms
        uses: tnichols217/htms@v1
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        id: upload-artifact
        uses: actions/actions/upload-artifact@v4
        with:
          # Upload output
          path: "./out"
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: 1
          body: |
            Artifact may be downloaded [here](${{ steps.upload-artifact.outputs.artifact-url }})
          reactions: '+1'